cx_oraclepython.ipynb
pruebas/.ipynb_checkpoints/ussd-sms-ar-mix-checkpoint.txt
pruebas/.ipynb_checkpoints/ussd-sms-ar-08-checkpoint.txt
pruebas/.ipynb_checkpoints/Salesforce-checkpoint.txt
pruebas/variables.txt
pruebas/ussd-sms-uy-mix.txt
pruebas/ussd-sms-uy-error.txt
pruebas/ussd-sms-uy-29.txt
pruebas/ussd-sms-uy-09.txt
pruebas/ussd-sms-uy-08.txt
pruebas/ussd-sms-py-mix.txt
pruebas/ussd-sms-py-error.txt
pruebas/ussd-sms-py-29.txt
pruebas/ussd-sms-py-09.txt
pruebas/ussd-sms-py-08.txt
pruebas/ussd-sms-ar-error.txt
pruebas/ussd-sms-ar-29.txt
pruebas/ussd-sms-ar-09.txt
pruebas/ussd-sms-ar-08.txt
pruebas/Salesforce.txt
pruebas/Salesforce-error-token.txt
pruebas/pganidado.txt
pruebas/localussd.txt
pruebas/db.txt
.ipynb_checkpoints/variablesNifi-checkpoint.ipynb
.ipynb_checkpoints/variables-checkpoint.txt
.ipynb_checkpoints/ussd-sms-uy-mix-checkpoint.txt
.ipynb_checkpoints/ussd-sms-uy-error-checkpoint.txt
.ipynb_checkpoints/ussd-sms-uy-29-checkpoint.txt
.ipynb_checkpoints/ussd-sms-uy-09-checkpoint.txt
.ipynb_checkpoints/ussd-sms-uy-08-checkpoint.txt
.ipynb_checkpoints/ussd-sms-py-mix-checkpoint.txt
.ipynb_checkpoints/ussd-sms-py-error-checkpoint.txt
.ipynb_checkpoints/ussd-sms-py-29-checkpoint.txt
.ipynb_checkpoints/ussd-sms-py-09-checkpoint.txt
.ipynb_checkpoints/ussd-sms-py-08-checkpoint.txt
.ipynb_checkpoints/ussd-sms-ar-mix-checkpoint.txt
.ipynb_checkpoints/ussd-sms-ar-error-checkpoint.txt
.ipynb_checkpoints/ussd-sms-ar-29-checkpoint.txt
.ipynb_checkpoints/ussd-sms-ar-09-checkpoint.txt
.ipynb_checkpoints/ussd-sms-ar-08-checkpoint.txt
.ipynb_checkpoints/statusProcessgroup-checkpoint.ipynb
.ipynb_checkpoints/ssh paramiko-checkpoint.ipynb
.ipynb_checkpoints/salesforce-test-token-checkpoint.txt
.ipynb_checkpoints/Salesforce-error-token-checkpoint.txt
.ipynb_checkpoints/Salesforce-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/pganidado-checkpoint.txt
.ipynb_checkpoints/localussd-checkpoint.txt
.ipynb_checkpoints/FW-Testing-alpha-checkpoint.ipynb
.ipynb_checkpoints/db-checkpoint.txt
.ipynb_checkpoints/cx_oraclepython-checkpoint.ipynb
variablesNifi.ipynb
.ipynb_checkpoints/ssh paramiko-checkpoint.ipynb
ussd-sms-ar-mix.txt
statusProcessgroup.ipynb
salesforce-test-token.txt
path nifi ussd
FW-Testing-alpha.ipynb
.ipynb_checkpoints/FW-Testing-alpha-checkpoint.ipynb
.ipynb_checkpoints/ssh paramiko-checkpoint.ipynb
ussd-sms.txt
cx_oraclepython.ipynb
